#top{
    background-color: blue;
    color: white;
    text-align: center;
}

.header{
    
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
}